<div class="py-5 px-4 bg-light rounded-4">
  <h1 class="mb-4">
    <i class="bi bi-bag bg-primary text-dark rounded px-2"></i> FoldApp
  </h1>
  <p class="lead">
    Jumpstart your project with our pre-configured
    <strong> {{ appConstants.APP_NAME }} </strong>. Boost your productivity and
    enjoy a streamlined development experience.
  </p>
  <hr />
  <p>
    Effortlessly set up linters, formatters, and build configurations, and dive
    into development with confidence!
  </p>
  <fold-anchor
    href="https://codeomelet.com/posts/angular-folder-structure-best-practices"
    text="Learn More"
    classNames="btn btn-primary"
    iconClassNames="bi bi-info-circle"
  ></fold-anchor>
</div>
